body {
	margin: 0;
	padding: 0;
	background: white;
	font: 10px/13px 'Lucida Sans', sans-serif;
}

.corporate {
	background-color: rgb(1, 69, 150);
	margin-bottom: 1.5%;
	padding: 1% 0;
}

.corporate img {
	margin-left: 10%;
}

.corporate .shadow {
	padding: 10px;
	background-color: rgb(16, 51, 119);
	position: absolute;
	left: 0;
	right: 0;
}

.wrap {
	overflow: hidden;
	margin: 10px;
}

.box {
	float: left;
	position: relative;
	width: 16.66%;
	padding-bottom: 16.66%;
}

.boxInner {
	position: absolute;
	left: 10px;
	right: 10px;
	top: 10px;
	bottom: 10px;
	overflow: hidden;
}

.boxInner img {
	width: 100%;
	border-radius: 10px;
}

.boxInner .titleBox {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.5);
	color: #FFF;
	padding: 10px;
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	margin-bottom: 0;
}

@media only screen and (max-width : 650px) {
	/* Smartphone and Tablet view: 2 tiles */
	.corporate img {
		width: 80%;
		margin-top: 1%;
	}
	.corporate .shadow {
		padding: 5px;
	}
	.box {
		width: 50%;
		padding-bottom: 50%;
	}
}

@media only screen and (max-width : 1050px) and (min-width : 651px) {
	/* Small desktop / ipad view: 3 tiles */
	.box {
		width: 33.3%;
		padding-bottom: 33.3%;
	}
}

@media only screen and (max-width : 1290px) and (min-width : 1051px) {
	/* Medium desktop: 4 tiles */
	.box {
		width: 25%;
		padding-bottom: 25%;
	}
}